$headerHeight: 100px;
$maxWidth: 100%;
$innerWidth: 1200px;
$marginAdj: 0 auto;

.header {
  width: $maxWidth;
  height: $headerHeight;
  margin-bottom: 80px;
  .header-inner {
    width: $innerWidth;
    margin: $marginAdj;
    height: $headerHeight;
    background-color: #fff;
    h1 {
      color: black;
      padding-top: 30px;
    }
    nav ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      li {
        padding: 16px;
        color: black;
        margin-top: -40px;
        font-size: 20px;
        &:hover {
          border-bottom: 2px solid #333;
          cursor: pointer;
        }
      }
    }
  }
}

.main-wrapper {
  width: $innerWidth;
  margin: $marginAdj;
  height: 600px;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/31/08/49/man-1292269_1280.jpg);
  position: relative;
  h2 {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 35%;
    right: 15%;
  }
  .button{
    position:absolute;
    bottom: 25%;
    right: 35%;
    width: 250px;
    height: 50px;
  }
}
